:root {
  --div-color: #fa7453;
  --button-ios-color: #191826;
  --button-ios-active-color: #66e2dc;
  --button-android-color: #fcfaf9;
  --button-android-active-color: #ffb964;
  --h1-size: 10.667vw; /* 40/375 */
  --h1-spacing: -0.12vw; /* -0.45/375 */
  --h2-size: 8.533333vw; /* 32/375 */
  --body1-size: 4.2667vw; /* 16/375 */
  --body1-lh: 7.4667vw; /* 28/375 */
  --body2-size: 4.8vw; /* 18/375 */
  --body2-lh: 7.4667vw; /* 28/375 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfaf9;
  font-family: "IBM Plex Sans", sans-serif;
  background-image: url(/equalizer-landing-page/styles/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: top -60vw left 10vw; /* 100/375 */
  color: var(--button-ios-color);
}

header,
footer {
  padding: 0 6.4vw; /* 24/375 */
}

section {
  display: flex;
  flex-direction: column;
  border-radius: 3.2vw; /* 12/375 */
}

/* ----------header---------- */

header {
  margin: 36.266667vw 0 18.133333vw 0; /* 68/375 */
}

.logo {
  width: 38.957333vw; /* 146.09/375 */
  height: auto;
  position: absolute;
  top: 10.667vw; /* 40/375 */
  left: 6.44vw; /* 24.15/375 */
}

.pattern1 {
  display: none;
}

header h1 {
  font-size: var(--h1-size);
  width: 87.2vw; /* 327/375 */
}

header p {
  font-size: var(--body1-size);
  line-height: var(--body1-lh);
  margin-top: 5.333333vw; /* 20/375 */
}

/* ----------------APP------------------- */

.mobilephoto {
  align-items: center;
  background-color: var(--button-ios-color);
  position: relative;
  margin-top: 44.266667vw; /* 166/375 */
}

.pattern {
  width: 74.666667vw; /* 280/375 */
}

.app {
  width: 55.725333vw; /* 208.97/375 */
  position: absolute;
  top: -26.133333vw; /* -98px/375 */
}

/* ---------------PLAN------------- */

.plan {
  background-color: var(--div-color);
  color: white;
  padding: 12.8vw 9.6vw; /* 36/375 */
  position: relative;
  top: -12.8vw; /* -48/375 */
}

h2 {
  font-size: var(--h2-size);
  font-weight: 700;
  margin-bottom: 3.2vw; /* 12/375 */
}

.planinfo {
  font-size: var(--body2-size);
  line-height: var(--body2-lh);
  margin-bottom: 9.6vw; /* 36/375 */
  font-weight: 300;
}

.plan h1 {
  font-size: 17.333333vw; /* 65/375 */
}

.plan div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8.533333vw; /* 32/375 */
}

.month {
  margin-left: 4.2667vw; /* 16/375 */
  font-size: 5.333333vw; /* 20/375 */
  letter-spacing: -0.053333vw; /* -0.2/375 */
  font-weight: 300;
}

/* -----------BUTTONS---------- */
button {
  border-radius: 3.2vw; /* 12/375 */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 16.266vw; /* 61/375 */
  border: none;
  cursor: pointer;
}

button h3 {
  font-size: var(--body2-size);
  font-weight: 700;
  margin-left: 2.133333vw; /* 8/375 */
}

.ios {
  background-color: var(--button-ios-color);
  color: white;
  margin-bottom: 4.2667vw;
}

.ios:hover {
  background-color: var(--button-ios-active-color);
}

.android {
  background-color: var(--button-android-color);
}

.android:hover {
  background-color: var(--button-android-active-color);
}

/* ----------------FOOTER-------------- */

footer {
  padding-bottom: 21.333333vw; /* 80/375 */
}

footer .logo {
  position: static;
  margin-bottom: 8.533333vw; /* 32/375 */
}

footer p {
  font-size: var(--body1-size);
  line-height: 6.933333vw; /* 26/375 */
  font-weight: 400;
  margin-bottom: 17.0667vw; /* 64/375 */
}

span,
b {
  display: block;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 26.67vw; /* 100/375 */
  justify-content: space-between;
}

svg {
  cursor: pointer;
}

svg:hover path {
  fill: var(--div-color);
}
